#head-er {
  text-align: center;
  font-size: 100px;
}

#intro-text {
  text-align: center;
  margin-top: 2rem;
}

#akan-header {
  text-align: center;
}

.form-fields {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

#fo-rm {
  margin-top: 2rem;
}

#rights {
  margin-left: 4rem;
}

#email {
  margin-right: 4rem;
}
